body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color:aliceblue;
}
header {
    background-color:#f5f5f5;
    color: black;
    padding: 0.2rem;
    text-align: center;
}
#img {
    position: absolute;
    left: 0;
    top: 0;
  }
  
  #img img {
    height: 50px; 
  }
main {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem;
}

.cart-item-card {
    border-radius: 20px 0;
    display: flex;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 1rem;
    padding: 1rem;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.cart-item-image {
    
    max-width: 100%;
    height: auto;
}
.cart-item-details {
    margin-top: 1rem;
}
h3 {
    margin: 0;
    font-size: 1.2rem;
}
p {
    margin: 0;
}
.quantity-controls {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    
}
button {
    background-color:aliceblue;
    color: black;
    border: none;
    cursor: pointer;
    font-size:medium;
    padding: 4px 8px;
    border-radius: 2px;
    margin: 0 10px;
    border-radius: 10%;
    
}
.remove-btn {
    background-color:rgba(252, 119, 119, 0.986);
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
    color:black;
    border-radius: 10%;
    padding: 5px 25px;
}
#grandTotal {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 1rem;
    padding: 1rem;
    background-color: #f5f5f5;
    color: black;
  }
@media screen and (max-width: 600px) {
    main {
        justify-content: center;
    }
    .cart-item-card {
        width: 100%;
    }
}

