body {
    background-color: #f5f5f5;
    background-image: url("{{url_for('static',filename='logimg.png')}}");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.login-container {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    width: 400px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    margin-left:25%;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}
.input-container {
    margin-bottom: 20px;
    
}
label {
    display: block;
    margin-bottom: 5px;
}
input {
    width: 95%;
    padding: 8px;
    border: 1px solid black;
    border-radius: 3px;
}
button {
    background-color: slategray;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
}
button:hover {
    background-color: silver;
}
p{
    text-align: center;
    display: block;
    margin-top: 20px;
    color: black;
    text-decoration: none;
}
a{
    color:#007bff;
}
a:hover {
    color: #0056b3;
}