<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='cart.css') }}">
    <script src="{{ url_for('static', filename='cart.js') }}"></script>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='webimg.png') }}">

   
    <title>Shopping Cart</title>
</head>
<body>
    <header>
        <h1>Shopping Cart</h1>
    </header>
    <main id="cartItems"></main>
    <div id="grandTotal"></div>
   
</body>
</html>
