
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">
    <script src="{{ url_for('static', filename='register.js') }}"></script>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='webimg.png') }}">
</head>
<body>
    <div class="register-container">
        <h2>Register</h2>
        <form id="register-form"  action="/register" method="post">
            <div class="form-item">
                <label for="username"><b>Username</b></label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-item">
                <label for="email"><b>Email ID</b></label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-item">
                <label for="phone"><b>Phone Number</b></label>
                <input type="tel" id="phone" name="phone" required>
            </div>
            <div class="form-item">
                <label for="address"><b>Address</b></label>
                <textarea id="address" name="address" required></textarea>
            </div>
            <div class="form-item">
                <input type="submit" value="Register">
            </div>
        </form>
        <p>Already have an account ! <a href="login">login here.</a></p>
    </div>
    <script src="C:/Users/sweth/OneDrive/Documents/Documents/intern swetha/register.js"></script>
</body>
</html>